.palo {
    width: 50px;
    height: 200px;
}

.poste {
    width: 250px;
    height: 700px;
    border-radius: 150px;
}

.carcasa {
    width: 340px;
    height: 740px;
    border-radius: 150px;
}

.redpoint {
    width: 200px;
    height: 200px;
    border-radius: 500px;
}

.yellowpoint {
    width: 200px;
    height: 200px;
    border-radius: 500px;
}

.greenpoint {
    width: 200px;
    height: 200px;
    border-radius: 500px;
}

